*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/yin111.png);
    background-repeat: no-repeat;
    background-position: absolute;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}


.container {
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}
    

.box {
    width: 400px;
    height: 200px;
    background: gray;
    margin: 16px 0px;
    transition: 0.5s;
    border-radius: 6px;
}

.box img {
    border-radius: 6px;
    width: 400px;
}


.box:hover {
    transform: scale(1.2);
    background: black;
    z-index: 2;
}
.box1 {
   width: 400px;
    height: 600px;
    background: gray;
    margin: 50px 20px;
    transition: 0.5s;
    border-radius: 6px;
    float: right;


}
.box1 img {
    height: 600px;
    width: 400px;
    border-radius: 6px;
}
.box1:hover {
    transform: scale(1.2);
    background: black;
    z-index: 2;
}
p {
    font-size: 20px;
    color: #fff;
    line-height: 2rem;

}
.main {
    
    
    left: 30%;
    width: 600px;
    height: 400px;
    text-align: center;
    font-family: 'Century Gothic',sans-serif;
    float: center;
    position: absolute;
  

}
h1 {
    font-family: Georgia, serif;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 6px white;
    color: #670432

}


